version: '3.1'
services:
    mongo:
        image: mongo:latest
        restart: always
        ports:
            - '27017:27017'
        volumes:
            - mongo:/var/lib/mongo
volumes:
    mongo: ~
