.card {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-size: 1.8rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid grey;
    flex: 1 1 40%;

    &:nth-of-type(even) {
        margin-left: 2rem;
    }

    @media only screen and (max-width: 500px) {
        flex: 1 0 100%;
        &:nth-of-type(even) {
            margin-left: 0;
        }
    }
}

.description {
    margin-top: 1.3rem;
    max-width: 75%;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.price {
    letter-spacing: 0.5px;
    padding-right: 0.5rem;
    @media only screen and (max-width: 700px) {
        min-width: 100%;
    }
}

.link:visited,
.link:link {
    color: var(--color-black);
    font-size: 2rem;
    font-weight: bold;
    flex-shrink: 1;

    &:hover {
        color: var(--color-grey);
        cursor: pointer;
    }
}
