.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    font-size: 1.8rem;
    padding: 5rem 4rem 3rem 4rem;
    border: 2px dashed var(--color-grey);
}

.inputs {
    display: flex;
    justify-content: space-around;

    & > div {
        display: flex;
        flex-direction: column;

        & > label {
            display: flex;
            justify-content: space-between;

            & span {
                margin-right: 1.5rem;
            }
        }
    }
}

.mainInfo {
    padding-right: 2.5rem;
    justify-content: space-evenly;

    & label:first-child > span {
        margin-right: 2.5rem;
    }
}

.characteristics {
    & > label:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.inputField {
    font-size: 1.7rem;
    padding: 0.2rem;
    background-color: var(--color-primary);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4rem;
}

.submitButton {
    font-size: 1.8rem;
    padding: 0.6rem 0.8rem;
}
