.siteContainer {
    padding: 4rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 900px) {
        padding: 4rem;
    }
}

.dataContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2rem;
    list-style: none;
}
